# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
native/build/cmake_install.cmake
native/build/CMakeCache.txt
native/build/libspotitml_native.dylib
native/build/Makefile
native/build/CMakeFiles/cmake.check_cache
native/build/CMakeFiles/CMakeConfigureLog.yaml
native/build/CMakeFiles/CMakeDirectoryInformation.cmake
native/build/CMakeFiles/InstallScripts.json
native/build/CMakeFiles/Makefile.cmake
native/build/CMakeFiles/Makefile2
native/build/CMakeFiles/progress.marks
native/build/CMakeFiles/TargetDirectories.txt
native/build/CMakeFiles/4.0.3/CMakeCCompiler.cmake
native/build/CMakeFiles/4.0.3/CMakeCXXCompiler.cmake
native/build/CMakeFiles/4.0.3/CMakeDetermineCompilerABI_C.bin
native/build/CMakeFiles/4.0.3/CMakeDetermineCompilerABI_CXX.bin
native/build/CMakeFiles/4.0.3/CMakeSystem.cmake
native/build/CMakeFiles/4.0.3/CompilerIdC/a.out
native/build/CMakeFiles/4.0.3/CompilerIdC/apple-sdk.c
native/build/CMakeFiles/4.0.3/CompilerIdC/CMakeCCompilerId.c
native/build/CMakeFiles/4.0.3/CompilerIdCXX/a.out
native/build/CMakeFiles/4.0.3/CompilerIdCXX/apple-sdk.cpp
native/build/CMakeFiles/4.0.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
native/build/CMakeFiles/spotitml_native.dir/build.make
native/build/CMakeFiles/spotitml_native.dir/cmake_clean.cmake
native/build/CMakeFiles/spotitml_native.dir/compiler_depend.make
native/build/CMakeFiles/spotitml_native.dir/compiler_depend.ts
native/build/CMakeFiles/spotitml_native.dir/depend.make
native/build/CMakeFiles/spotitml_native.dir/DependInfo.cmake
native/build/CMakeFiles/spotitml_native.dir/flags.make
native/build/CMakeFiles/spotitml_native.dir/link.txt
native/build/CMakeFiles/spotitml_native.dir/progress.make
native/build/CMakeFiles/spotitml_native.dir/src/spotitml_native.cpp.o
native/build/CMakeFiles/spotitml_native.dir/src/spotitml_native.cpp.o.d
